<div class="flex flex-wrap justify-center mx-auto mt-8 mb-4">
  <h2 id="about-us" class="font-medium leading-tight text-4xl text-white">
    About Us
  </h2>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    The Code for Vegas Foundation was rebooted in 2022, formed as a Nevada
    Nonprofit Corporation on 16 June 2022, and is presently pursuing a 501(c)(3)
    public charity determination with the IRS.
  </p>
  <h3 class="font-medium leading-tight text-3xl mt-6 mb-0 text-white">
    Purpose
  </h3>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    To enable and encourage civic ideation, innovation, and implementation to
    make our communities better. While we have kept the name of our predecessor
    organization formed in 2014, we endeavor to include all comers wishing to
    contribute and collaborate on these civic projects and goals, without a
    specific focus on coding.
  </p>
  <h3 class="font-medium leading-tight text-3xl mt-6 mb-0 text-white">Ethos</h3>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    Our core principles are essential:<br />
    Inclusivity<br />
    Diversity<br />
    Accessibility<br />
    These principles apply not only to project participation, but also to all meetups,
    gatherings, online publications, project deployments, and ongoing development
    of any type of work product. We invite all those interested in learning, contributing,
    and collaborating on civic projects designed to improve our communities, to do
    so with confidence and conviction!
  </p>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    We will invite members of the population at large to build an organization
    centered on civic volunteerism, skills development, and job creation, with a
    focus on Making our Smart City Smarter, improving Education, and driving our
    3-word ethos: Inclusivity, Diversity, Accessibility.
  </p>
  <h3 class="font-medium leading-tight text-3xl mt-6 mb-0 text-white">
    "Code" vs "Create"
  </h3>

  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    In order that we might resonate with all of our innovators near and far, we
    have forked our public presence into <b class="text-white"
      >CreateFor.vegas</b
    > and <b class="text-white">CodeFor.vegas</b>, with websites and logos and
    resources designed by and for our volunteers to be inclusive! (Coming soon!)<br
    /><br />
    This website you are looking at now remains our main site for the Code for Vegas
    Foundation, a Nevada Nonprofit, so that we may provide general information about
    the business of civic volunteerism donations and financial activity (always transparent),
    and other useful bits.
  </p>
  <h2 id="projects" class="font-medium leading-tight text-4xl mt-10 text-white">
    Projects
  </h2>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    Every month we add another project topic to the mix, as part of our pursuit
    of the overall Capstone Projects. The monthly topic focus is valuable alone,
    but as part of the overall project plan each contributes more value to the
    whole than each individual part.<br /><br />
    Each monthly project, and each capstone project, will bring job skills development
    and, ideally, actual jobs to participants, whether that participation is in the
    form of software code development, graphics, human interface, media development,
    content creation, artistic works, internationalization and localization efforts,
    accessibility checks, quality assurance, and even marketing, sales, and project
    management. Each role is essential and each contributor gets credit for their
    effort from start to finish.
  </p>
  <h3 class="font-medium leading-tight text-3xl mt-6 mb-0 text-white">
    Capstone Projects
  </h3>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    <b class="font-bold text-white">Virtual Vegas</b>: A Digital Twin
    implementation, making maximal use of Open Data datasets and all of the
    specific topics addressed month over month, the goal is to enable the
    smartest of smart applications and other projects developments to enable
    discovery, learning, and participation in our Smart City. It would be easy
    to compare this project to something like Civilization or Sim City, and both
    of those would be valid comparisons, but this project will aim to be a
    platform on which someone might build a game similar to these, or develop
    open news tools, neighborhood communications tools, safety visualizations,
    and so on. The possibilities are endless!
  </p>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    <b class="font-bold text-white">Education</b>: This is a capstone in the
    earliest phases of planning and discussion. Early thinking is to enable a
    more flexible education platform for students of all ages in the Las Vegas
    area, adapting what was learned during school closures in pandemic lockdown
    intervals, adaptation to different learning styles, and enabling learning at
    different rates for different students, especially in cases where there
    might be a teacher staffing shortage. If Making our Smart City Smarter is
    the ultimate goal of Code for Vegas Foundation, Education and an educated
    populace are the bedrock foundation on which this goal is best built.
  </p>
  <h3 class="font-medium leading-tight text-3xl mt-6 mb-0 text-white">
    Ongoing Projects
  </h3>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    <a class="font-bold text-white underline" href="#">Open Transit</a>: The
    very first monthly topic and aims to bring project development to Las Vegas
    locals who may themselves use our public transit system, or know someone who
    does.
  </p>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    <a class="font-bold text-white underline" href="#"
      >Open Data Capture Platform</a
    >: A modification of the second monthly topic, Earth Month, but increased
    substantially in scope and relevance. The City of Las Vegas has a
    substantial collection of Open Data datasets published online, this project
    will aim to enable crowd-sourced open data collection as well as modern
    methods of software access to these data for creative uses that we have yet
    to think of.
  </p>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    <a class="font-bold text-white underline" href="#">Smart Social</a>: The way
    a Smart City communicates with itself. Rather than relying on Nextdoor or
    Twitter or other social media platforms, the goal is to make use of modern
    and open standards, tools people have at their disposal without requiring
    installation of proprietary and questionable software or other products, and
    ideally built with our ethos in mind (this includes language translations
    and general accessibility).
  </p>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    <a class="font-bold text-white underline" href="#">My Vegas</a>: My Vegas is
    the Human Interface for our Smart City. Rather than asking people to install
    mobile applications on devices they may not own, we will attempt to build
    open standards interfaces to Open Data and other services and information so
    that more people have more access to more information and interaction.
  </p>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    <a class="font-bold text-white underline" href="#">vLocal</a>: An essential
    component of the online and, eventually, offline real-world experience of
    what we all know as Locals. People who are a part of the communities that
    are Las Vegas, whether within the city limits, a little bit farther away in
    Southern Nevada, or maybe much farther away but visiting now and then.
    Ideally this project will focus on secure communication credentials as well
    as secure online identities to facilitate participation in the various other
    projects (Smart Social, My Vegas, etc) while addressing concerns around
    identity compromise.
  </p>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    <a class="font-bold text-white underline" href="#">Welcome</a>: Our project
    for September-October 2022, to examine and consider our city and communities
    from the perspective of visitors, whether they are tourists, sports fans,
    conference attendees, here to see family and friends, or simply passing
    through, our Smart City can be a great experience for temporary visitors,
    not only providing a delightful time among we locals, but gifting them when
    some impressions to bring home with them, and to look forward to next time
    they come by!
  </p>
  <h2 id="donate" class="font-medium leading-tight text-4xl mt-10 text-white">
    Donations
  </h2>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    As of 12 September 2022, Code for Vegas Foundation has submitted to the IRS,
    form 1023-EZ for 501(c)(3) public charity determination. Under normal
    circumstances this might lead to a response in 2-4 weeks, but these are
    interesting times which may add countless weeks of delay to that estimated
    timeline.<br /><br /> Would you like to support our local innovators and local
    innovation, which is entirely civic volunteerism in action? Any donations you
    would care to make via the Stripe.com link below, will be retroactively tax deductible
    (consult your tax professional) once Code for Vegas Foundation receives our determination
    letter from the IRS. When this occurs, you will be notified via the email address
    you provide in the Stripe.com donation form.<br /><br /> If you would like to
    support Code for Vegas Foundation and would rather donate to a current 501(c)(3)
    public charity, Tech Alley has been kind and supportive enough, as always, to
    be our official Fiscal Sponsor, enabling donations to Code for Vegas Foundation
    via Tech Alley.
    <a
      href="https://donate.stripe.com/5kA7sX79naDF6Ri4gg"
      class="text-white hover:text-gray-200"
      ><b>Click here to donate.</b>
    </a>
  </p>
  <!-- Fine Print -->
  <p
    class="text-xs text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-600"
  >
    The Code for Vegas Foundation is a Nevada Nonprofit Corporation, Nevada
    Business ID NV20222489556, formed on 16 June 2022. As of August 2022, our
    form 1023 filing with the IRS for 501(c)(3) public charity determination is
    in progress. During the determination process, Tech Alley is acting as our
    Fiscal Sponsor for purposes of accepting tax-deducible donations on behalf
    of Code for Vegas Foundation, in order to support our continued
    developments. The Code for Vegas Foundation logo is an original design by
    Justin Pecayo. This Code for Vegas Foundation website will always be a work
    in progress. Ideally it will evolve into a properly accessible portal useful
    for interacting with this foundation and its endeavors. Over time, as more
    projects are deployed for use, this website and other related Foundation
    websites will likely make use of them to demonstrate our progress. Website
    content is published Copyright(c) 2022 by Code for Vegas Foundation. Logos
    and other creative works included on this website are used with permission
    with copyrights held by respective owners.
  </p>
</div>
