<div class="flex flex-wrap justify-center mx-auto mt-8 mb-4">
  <h2 id="about-us" class="font-medium leading-tight text-4xl text-white">
    About Us
  </h2>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    The Code for Vegas Foundation was rebooted in 2022, formed as a Nevada
    Nonprofit Corporation on 16 June 2022, and is presently pursuing a 501(c)(3)
    public charity determination with the IRS.
  </p>
  <h3 class="font-medium leading-tight text-3xl mt-6 mb-0 text-white">
    Purpose
  </h3>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    To enable and encourage civic ideation, innovation, and implementation to
    make our communities better. While we have kept the name of our predecessor
    organization formed in 2014, we endeavor to include all comers wishing to
    contribute and collaborate on these civic projects and goals, without a
    specific focus on coding.
  </p>
  <h3 class="font-medium leading-tight text-3xl mt-6 mb-0 text-white">Ethos</h3>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    Our core principles are essential:<br />
    Inclusivity<br />
    Diversity<br />
    Accessibility<br />
    These principles apply not only to project participation, but also to all meetups,
    gatherings, online publications, project deployments, and ongoing development
    of any type of work product. We invite all those interested in learning, contributing,
    and collaborating on civic projects designed to improve our communities, to do
    so with confidence and conviction!
  </p>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    We will invite members of the population at large to build an organization
    centered on civic volunteerism, skills development, and job creation, with a
    focus on Making our Smart City Smarter, improving Education, and driving our
    3-word ethos: Inclusivity, Diversity, Accessibility.
  </p>
  <h2 class="font-medium leading-tight text-4xl mt-6 text-white">
    "Code" vs "Create"
  </h2>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, labore
    iusto. Cumque reiciendis quaerat aliquid eum cum, perferendis doloremque
    quasi, repellendus perspiciatis, ipsum dolorem? Perferendis quia reiciendis
    consequatur nostrum numquam. Enim alias amet atque sequi rem omnis ullam
    nulla perferendis architecto nostrum dolores quos tenetur, voluptate,
    perspiciatis at odit vitae fugit commodi dignissimos sunt mollitia. Eius
    dolores esse dignissimos sunt.
  </p>
  <h2 id="donate" class="font-medium leading-tight text-4xl mt-6 text-white">
    Donations
  </h2>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus distinctio
    cum blanditiis placeat et sint dolorem laudantium? Nisi autem ea sint sequi
    pariatur expedita aspernatur soluta, minus consectetur corporis iste. <a
      href="#donate">Click here to donate.</a
    >
  </p>
  <h2 class="font-medium leading-tight text-4xl mt-6 text-white">Fine Print</h2>
  <p
    class="text-xl text-center font-light leading-relaxed mt-6 mb-6 px-20 text-gray-400"
  >
    The Code for Vegas Foundation is a Nevada Nonprofit Corporation, Nevada
    Business ID NV20222489556, formed on 16 June 2022. As of August 2022, our
    form 1023 filing with the IRS for 501(c)(3) public charity determination is
    in progress. During the determination process, Tech Alley is acting as our
    Fiscal Sponsor for purposes of accepting tax-deducible donations on behalf
    of Code for Vegas Foundation, in order to support our continued
    developments. The Code for Vegas Foundation logo is an original design by
    Justin Pecayo. This Code for Vegas Foundation website will always be a work
    in progress. Ideally it will evolve into a properly accessible portal useful
    for interacting with this foundation and its endeavors. Over time, as more
    projects are deployed for use, this website and other related Foundation
    websites will likely make use of them to demonstrate our progress. Website
    content is published Copyright(c) 2022 by Code for Vegas Foundation. Logos
    and other creative works included on this website are used with permission
    with copyrights held by respective owners.
  </p>
</div>
