---
---

<div class="bg-black container mx-auto px-4">
  <div class="text-center py-48 px-6">
    <h1 class="text-white text-5xl font-bold mt-0 mb-6">
      We are Code for Vegas.
    </h1>
    <h3 class="text-gray-500 text-3xl font-bold mb-8">
      Making our Smart City smarter.
    </h3>
    <div class="w-full lg:w-auto p-3">
      <form action="#" method="get">
        <button
          type="submit"
          class="font-heading w-1/3 px-6 py-4 text-base text-gray-900 bg-white hover:bg-gray-100 rounded-md"
          >Codefor.vegas</button
        >
      </form>
    </div>
    <div class="w-full lg:w-auto p-3">
      <form action="#" method="get">
        <button
          type="submit"
          class="font-heading w-1/3 px-6 py-4 text-base text-gray-900 bg-white hover:bg-gray-100 rounded-md"
          >Createfor.vegas</button
        >
      </form>
    </div>
    <div class="w-full lg:w-auto p-3">
      <form action="#about-us" method="get">
        <button
          type="submit"
          class="font-heading w-1/3 px-6 py-4 text-base text-white bg-transparent border border-gray-500 hover:border-gray-600 rounded-md"
          >Learn More</button
        >
      </form>
    </div>
  </div>
</div>
