<!-- Inclusivity, Diversity, Accessibility -->
<section id="values" class="mt-20 mb-40">
  <div class="flex items-center justify-center">
    <h2 class="font-medium leading-tight text-4xl text-white mb-20">
      Our Values
    </h2>
  </div>
  <div class="flex flex-no-wrap items-center justify-evenly">
    <div class="inline-flex flex-col">
      <img src="/assets/inclusivity.svg" alt="Inclusivity" />
      <h3 class="text-center text-2xl font-medium leading-tight text-white">
        Inclusivity
      </h3>
    </div>
    <div class="inline-flex flex-col">
      <img src="/assets/diversity.svg" alt="Inclusivity" />
      <h3 class="text-center text-2xl font-medium leading-tight text-white">
        Diversity
      </h3>
    </div>
    <div class="inline-flex flex-col">
      <img src="/assets/accessibility.svg" alt="Inclusivity" />
      <h3 class="text-center text-2xl font-medium leading-tight text-white">
        Accessibility
      </h3>
    </div>
  </div>
</section>
